<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}" /> -->
    <title>{% block title %}{% endblock %} - Todo List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>

    <section class="section">

      <div class="container is-fluid">
        <div class="notification is-primary">
          <strong>Todo List</strong>
          <a class="navbar-item" href="add-new-item-form">Add New Item</a>
        </div>
      </div>

      <div class="container">

        {% block content %} {% endblock %}
        <div class="footer ">
          <!-- <div id="footer">
              {% block footer %}
              &copy; Copyright 2023 by <a href="http://domain.invalid/">you</a>.
              {% endblock %}

        </div> -->

      </div>

  </section>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>
  </body>

</html>
